* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #bbb6fa;
}
.quet-box{
    width: 700px;
    background: #fff;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgb(0, 0, 0.1);
}
.quet-box h2 {
    font-size: 20px;
    margin-bottom: 30px;
    position: relative;
    
}
.quet-box h2::after{
    content: "";
    width: 76px;
    height: 7px;
    position: absolute;
    border-radius: 5px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}
.quet-box blockquote {
    font-size: 40px;
    margin: 10px;
    min-height: 110px;
}
.quet-box blockquote::before ,.quet-box blockquote::before {
    content: "";

}
.quet-box span{
    display: block;
    margin-top: 10px ;
    float: right;
    position: relative;
}
.quet-box span::before{
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    background: rgb(23, 124, 229);
    top: 50%;
    left: -30px;

}
.quet-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quet-box div button {
    background: rgb(23, 124, 229);
    color: #fff;
    width: 150px;
   height: 50px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   cursor: pointer;
   border: 0;
}