*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background: #f3fbff;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.img-box{
    width: 60%;
    margin: auto;
    line-height: 0;
    background-image: url(/background_change_img/background_change_img/background.png);
    overflow: hidden;
    position: relative;

}
.img-wrapp{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    cursor: pointer;
}
